
.feedEkList{
	list-style:none outside none;
	background-color:#e1e2e3;
	border:1px solid #D3CAD7;
	padding:4px 6px; 
	color:#3E3E3E;
}
.feedEkList li{
	background-color:#FFF;
	border:1px solid #D3CAD7;
	padding:5px;
	margin-bottom: 13px;
	border-radius: 3px;
	clear: both;
}
.feedEkList li:last-child{
	border-bottom:none;
}
a{
	font-weight:bold;
	font-size: 17px;
	/***aki***/
	color:#1a1 !important;
	text-decoration:none 
}
.itemTitle a:hover{ 
	text-decoration:underline
}
.itemDate{
	font-size:11px;
	color:#AAAAAA;
} 
.itemContent{
	font-size: 15px;
	text-align: justify;
	
}
.itemContent > br {
	clear:both;
}
.foto,.foto > img, div{
	width: 100% !important;
	height: auto !important;
}


.itemContent > a > img{
	/***aki***/
	border: 2px solid #1a1;
	width: 70% !important;
	margin: 10px 15%;
	border-radius: 3px;
}

.fixed{
	position: fixed;
	top: 0; 
	width: 100%;
}
#feed{
	margin-top: 50px;
	background-color: #fff;
	text-align: justify;
}
#feed > img, #loading{
	width: 20%;
	margin: 50px 40%;
}
#feed > img{
	margin-top: 0;
}

h1 {
	font-family: "ProximaNova-Semibold";
	font-size: 30px;
	font-weight: normal;
	color: #444;
	letter-spacing: -3px;
	padding: 3px;
	text-align: left;
}
h2 {
	color: #999;
	letter-spacing: -1;
	line-height: 24px;
	padding-top: 0;
	font-size: 19px;
	font-weight: normal;
	padding: 3px;
}
p{
	
	color: #555;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 25px;
	padding-bottom: 1.5em;
	padding-right: 5px;
	padding-left: 5px;
	word-wrap: break-word;

}
body{
	/*text-align: justify;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding-bottom: 50px;
	
}
#logo{
	position:fixed;
	left:80%;
}