<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.selecaobrasileira.news"

    versionCode = "18" 
    version     = "1.0.6" 
>

    <!-- versionCode is optional and Android only -->

    <name>Notícias da Seleção Brasileira</name>
    <icon src="icon.png"/>
    <description>
        Agregador de notícias sobre a Seleção Brasileira. 
    </description>
    <!-- <gap:platform name="ios" /> -->
    <gap:platform name="android" />
    <!-- <gap:platform name="winphone" /> -->
    <author href="gabrieldiniz.com" email="contato@gabrieldiniz.com">
        Gabriel Diniz 
    </author>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>

    <preference name="target-device" value="universal" />
    <preference name="stay-in-webview" value="true"/>
    <preference name="keepRunning" value="true" />
    <access origin="*" subdomains="true" browserOnly="true" />
    <gap:plugin name="cordova-plugin-device" version="0.2.8" />
    <gap:plugin name="cn.push.cordova.plugin.local-notification" version="0.7.3" />
    <gap:plugin name="cordova-plugin-background-mode" version="0.5.0" />
</widget>
